:root {
  font-family: "Poppins", "Segoe UI", sans-serif;
  line-height: 1.4;
  color: #1c2735;
  background: #f1f3f6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f1f3f6;
  color: #1c2735;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select {
  font: inherit;
}
